*{
    background-color: #222;
    color: #9d9d9d
}

#form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#form form{
    border: 1px solid #CECECE;
}

#msg{
    height: 500px;
    overflow: auto;
    margin: auto;
    border: 1px solid #CECECE;
}

#msg_ul{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-left: 0px;
    margin: auto;
    border: 1px solid #CECECE;

}

ul{
    list-style-type: none;
}

button,
input[type="submit"],
input[type="button"]{
    border: 1px solid #0066cc;
    background-color: #0099cc;
    color: #ffffff;
    padding: 5px 10px;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    border: 1px solid #0099cc;
    background-color: #00aacc;
    color: #ffffff;
    padding: 5px 10px;
}

button:disabled,
button[disabled],
input[type="submit"]:disabled,
input[type="button"]:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

textarea, input{
    margin: 0px;
    border: 1px solid #525252;
    background-color: #525252;
    color: #e4e4e4;
}
