* {
    color: #9d9d9d;
    background-color: #222;
}

#form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#form form {
    border: 1px solid #cecece;
}

#msg {
    overflow: auto;
    height: 500px;
    margin: auto;
    border: 1px solid #cecece;
}

#msg_ul {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: auto;
    padding-left: 0;
    border: 1px solid #cecece;
}

ul {
    list-style-type: none;
}

button,
input[type='button'],
input[type='submit'] {
    padding: 5px 10px;
    color: #fff;
    border: 1px solid #06c;
    background-color: #09c;
}

button:hover,
input[type='button']:hover,
input[type='submit']:hover {
    padding: 5px 10px;
    color: #fff;
    border: 1px solid #09c;
    background-color: #0ac;
}

button:disabled,
button[disabled],
input[type='button']:disabled,
input[type='submit']:disabled {
    color: #666;
    border: 1px solid #999;
    background-color: #ccc;
}

input,
textarea {
    margin: 0;
    color: #e4e4e4;
    border: 1px solid #525252;
    background-color: #525252;
}
